@{
  Layout = "_Layout";
}
<div>
@using System.Linq;
@using ToDoList.Models;
@model List<ToDoList.Models.Item>

<h1>Items</h1>

@if (@Model.Count == 0)
{
  <h3>No items have been added yet!</h3>
} 

@foreach (Item item in Model.OrderBy(item => item.DateDue))
{
  <li>@Html.ActionLink($"{item.Description}", "Details", new { id = item.ItemId }) @Html.Raw(item.DateDue)</li>
}

<p>@Html.ActionLink("Add new item", "Create")</p>
</div>




